extends ../main

block title
	| Главная страница (main.psd)

block content
	article.content-wrapper
		.container
			.search_container.clearfix
				input(placeholder="just do it").search#search
				.result_content#players