.header {
  background: #434753;
  height: 60px;
  border-bottom: 3px solid #2f323b;
  padding-top: 5px;
}

.container {
  width: 98%;
  min-width: 850px;
  max-width: 1260px;
  margin: 0 auto;
  height: 100%;

}
